*{
    padding: 0px 0px;
    margin: 0px 0px;
}

body{
    background-color: white;
}

.main{
    
    position: relative;
    background-color: transparent;
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,32%);
    border: 5px solid white;
    border-radius: 20px;
}

#longurl{
    position: relative;
    top: 35%;
    left: 10%;
    height: 40px;
    width: 296px;
    color: rgb(7, 7, 7);
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#shorten{
    position: relative;
    top: 35%;
    left: 12%;
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: #23a32d;
}

#shorten:hover{
    background-color: skyblue;
}

#shorturl{
    position: relative;
    top: 45%;
    left: 10%;
    height: 40px;
    width: 270px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#copy{
    position: relative;
    top: 45%;
    left: 12%;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: #23a32d;
}

#copy:hover{
    background-color: skyblue;
}

.main p{
    /* background-color: white; */
    position: relative;
    top: 20%;
    left: 13%;
    height: 60px;
    width: 400px;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    color: #c3073f;
}
